h2{font-family: 'Poppins', sans-serif; color:#264653; letter-spacing:1px}
h1{font-family: 'Poppins', sans-serif; color:#264653;letter-spacing:1px;}
body{font-family: 'Gluten', cursive; background-color:#E9C46A;}
#one{background-color: #E9C46A;
		color: orangered;
		padding: 10px;
		margin: 20px;
		border: 5px;
		height: 50%;
		width: 100%;
		line-height: 1;
		text-align:center; }

#two{padding: 10px;
		margin: 20px;
		border: 5px;
		border-style: dotted;
		border-color: whitesmoke;
		height: 50%;
		width: 45%;
		line-height: 1.5;
		position: relative;
		left: 10px;
		float: left;
		text-align:left;}

#three{padding: 10px;
		margin: 20px;
		border: 5px;
		border-style: dotted;
		border-color: whitesmoke;
		height: 60%;
		width: 45%;
		line-height: 1.5;
		position: relative;
		left: 10px;
		float: left;
		text-align:left;}

#four{padding: 2px;
		margin: 20px;
		border: 5px;
		height: 50%;
		width: 45%;
		line-height: 1.2;
		position: relative;
		left: 20px;
		top: -135px;
		text-align:left;}