h2{font-family: 'Luckiest Guy', cursive; color:#D78521; letter-spacing:1px}
h1{font-family: 'Luckiest Guy', cursive; color:#000000; background-color:#E8EBF7;letter-spacing:1px}
body{font-family: 'Gluten', cursive; background-color:#F2D398}
