h2{font-family: 'Poppins', sans-serif; color:#264653; letter-spacing:1px}
h1{font-family: 'Poppins', sans-serif; color:#835e43;letter-spacing:1px; font-size: 52pt;}
body{font-family: 'Roboto Condensed', sans-serif; background-color:#E9C46A;}
#one{background-color: #E9C46A;
		color: #365483;
		padding: 10px;
		margin: 20px;
		border: 5px;
		height: 50%;
		width: 100%;
		line-height: 1;
		text-align:center; }

#two{padding: 10px;
		margin: 20px;
		border: 5px;
		border-style: dotted;
		border-color: whitesmoke;
		height: 50%;
		width: 45%;
		line-height: 1.5;
		position: relative;
		left: 10px;
		float: left;
		text-align:left;}

#three{padding: 10px;
		margin: 20px;
		border: 5px;
		border-style: dotted;
		border-color: whitesmoke;
		height: 60%;
		width: 45%;
		line-height: 1.5;
		position: relative;
		left: 10px;
		float: left;
		text-align:left;}

#four{padding: 10px;
		margin: 30px;
		margin-top: -120px;
		border: 5px;
		border-style: dotted;
		border-color: whitesmoke;
		height: 50%;
		width: 45%;
		line-height: 1.2;
		position: all;
		left: 20px;
		text-align:left;
		float: left;}